/*colors*/

:root{
    --midnight-blue: #001533;
    --sulu-green: #c5f284;
}

html {
    color: white;
}

body{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(45deg,var(--midnight-blue),#005c80,#00a2cc);
    background-size: 200%;
    animation: backgroundAnimation;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    padding: 0;
    margin: 0;
    font-family: 'Lexend', sans-serif;
    text-align: center;
    color: white;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    margin: 50px 0 0 0;
    height: 30vh;
    flex-direction: column;
}

main {
    height: 60vh;
    box-sizing: border-box;
    flex-direction: column;
}

article{
    width: 50%;
}

@keyframes backgroundAnimation {
    0% {
        background-size: 200%;
    }
    50% {
        background-size: 100%; 
    }
    100% {
        background-size: 250%;
    }
    
}

h1{
    margin: 0;
    font-weight: 300;
    color: var(--sulu-green);
    text-shadow: 1px 1px 1px grey;
}

h2{
    margin: 0;
    font-weight: 200;
    text-shadow: 0px 0px 2.5px white;
}

h3{
    margin: 0;
    font-weight: 200;
}

p{
    font-weight: 200;
}

.app-logo{
    border-radius: 25px;
    box-shadow: 0px 0px 5px 0px var(--midnight-blue);
    cursor: pointer;
    transition-duration: 0.35s;
    width: 50%;
}

.app-logo:hover{
    box-shadow: 0px 0px 5px 0px white;
}

.img-comming-soon{
    cursor: pointer;
    transition-duration: 0.35s;
    width: 50%;
}


footer{
    box-sizing: border-box;
    height: 10vh;
    margin: 0;
    padding: 15px;
    font-weight: 200;
}

/*******Responsive text*********/

/* sintax  linear responsive text [min font size + (max font size - min font size) * ((viewport width - min viewport width) / (max viewport width - min viewport width))] */

.fluid-font-title{
    font-size: 60px
}

.fluid-font-subtitle{
    font-size: 40px
}

.fluid-font-paragraph{
    font-size: 20px
}

/* Scren with a width equal or bigger than 320px  */
@media screen and (min-width: 320px) {
    
    .fluid-font-title{
        font-size: calc(60px + 100 * ((100vw - 320px) / 1600)) ;
    }

    .fluid-font-subtitle{
        font-size: calc(40px + 60 * ((100vw - 320px) / 1600)) ;
    }

    .fluid-font-paragraph{
        font-size: calc(20px + 20 * ((100vw - 320px) / 1600)) ;
    }

}

/* Scren with a width equal or bigger than 1920px  */
@media screen and (min-width: 1920px) {

    .fluid-font-title{
        font-size: 140px
    }

    .fluid-font-subtitle{
        font-size: 100px
    }

    .fluid-font-paragraph{
        font-size: 40px
    }
}

@media(max-height:420px) and (orientation:landscape){

    body{
        height:100%
    }

    header,body,footer{
        height: fit-content;
    }

    p{
        margin: 10px;
    }
    
}


/******************/
/* Navbar styles */
/****************/

.navbar-container{
    box-shadow: 1px 1px 3px black;
    background-color: var(--midnight-blue);
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    z-index: 2;
}

.hide-navbar{
    transform: translateY(-50px);
}

.logo-image{
    margin-left: 10px;
}

.list-sections-container{
    background-color: var(--midnight-blue);
    width: 100vw;
    position: fixed;
    top: 50px;
    transform: translate(-100vw, 0px);
    height: calc(100vh - 50px);
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    align-items: center;
}


.list-sections-container li {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.section-link{
    box-sizing: border-box;
    display: block;
    padding: 20px;  
    width: 100%;
    transition-duration: 0.25s;
    color: white;
}

.section-link:hover{
    transform: translateY(-5px);
    text-shadow: 0 0 2px white;
}

.current-section{
    color: var(--sulu-green);
}

.block-sections{
    display: inherit;
}


/********************/
/* About Us content */
/******************/

.about-us-container{
    background: linear-gradient(45deg, var(--sapphire-blue),var(--medium-aquamarine));
    margin-top: 50px;
    padding: 5px 0px 25px 0px;
}

.about-us-container section {
    flex-direction: column;
}

.ess-image{
    width: 65%;
    border-radius: 5px;
    margin: auto;
    display: block;
    box-shadow: 2px 2px 5px 1px #0015338f;
}

.ess-image:hover{
    width: 100%;
}



/****************/
/* Burger menu */
/**************/

.burger-menu-button{
    width: auto;
    height: 50px;
    margin-right: 5px;
}

.burger-bar{
    display: block;
    background-color: white;
    box-shadow: 1px 1px 3px #808080cf;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.line-medium{
    margin: 8px 0 8px 0;
}

.line-top-rotation{
    transform: rotate(45deg) translate(8px, 8px);
}

.line-bottom-rotation{
    transform: rotate(-45deg) translate(9px, -9px);
}

.store-container-burger-menu{
    margin: 2.5% 2.5% 70px 2.5%;
    justify-content: space-evenly;
}



/*** Only works for mobiles in landscape with resulution of height : 412 px with width: > 412 px ***/

@media (max-height:412px) and (orientation:landscape){

    .banner-image{
        display: block;
        margin: 0;
        width: 25%;
    }

    .header-container{
        flex-wrap: nowrap;
    }

    .section-container{
        height: auto
    }

    .section-image{
        width: 30%;
    }

    .video-container iframe {
        width: auto;
        height: calc(100vh - 100px);
        margin: 0 auto;
        display: block;
    }

    .login-container{
        flex-direction: column;
        height: auto;
        padding: 0;
    }

}

/***********************************/
/* Desktop and tablet (landscape) */
/*********************************/

/*********************/
/* Only break point */
/*******************/
/* 
   --------------------------  Explication -> ipad resolution is 768 x 1024px in vertical postion
   |                        |                 is considered as a smartphone, but in 1024 x 768px 
   |                        |                 is considered as a computer, this break point consider
   |     916 x 412 px       |                 that only exist two design mobile or desktop,the bigger
   |                        |                 resolution in phone founded was 411 x 812px, so we take
   |                        |                 the limit values of resolution as following: width:768+1px
   --------------------------                 and height:411+1px up this are computer down this are a phone
*/

@media (min-height:412px) and (min-width: 916px) {


    /***********************/
    /* Generic containers */
    /*********************/

    .main-padding{
        padding: 1px 2.5% 20px 2.5%;
    }

    .full-height-navbar{
        height: calc(100vh - 50px);
    }
    
    .full-height-footer{
        height: calc(100vh - 50px - 200px);
    }
    
    .full-height-title{
        height: calc(100vh - 50px - 200px - 150px);
    }
    
    .full-width{
        width: 100vw;
    }

    .noneStyle {
        all: none;
      }

    /***********************/
    /* experience content */
    /*********************/

    .experience-container{
        width: 49%;
    }

    .experience-carousel{
        height: 50vh;
    }

    /*******************/
    /* Awards content */
    /*****************/

    .awards-container{
        justify-content: space-between;
    }

    .award-container{
        width: 32%;
    }


    .mobile-view{
        display: none;
    }

    .sections-container{
        display: block;
        background-color: var(--midnight-blue);
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    
    .list-sections-container{
        width: auto;
        position: static;
        transform: translate(0,0);
        display: flex;
        list-style-type: none;
        -webkit-padding-start: 0;
                padding-inline-start: 0;
        height: 50px;
        margin: 0 10px;
        overflow-y: hidden;
    }

    .section-link{
        padding: 14px 12px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        background-color: #001533;
    }

    .fluid-font-section-link{
        font-size: calc(var(--min-section-link-size) + 5 * ((100vw - 769px) / 1151)) ;
    }

    .burger-menu-button{
        display: none;
    }

    .header-container{
        flex-wrap: nowrap;
        justify-content: center;
    }

    .header-container section{
        margin: 0;
    }

    .banner-image{
        width: 25%;
        margin: 0 15% 0 0;
    }

    .store-container-burger-menu{
        display: none;
    }

    .figure-container{
        margin: 0 0 0 2.5%;
    }

    .section-image{
        margin: 0 2% 0 2%;
    }

    .portrait-image{
        height: 75vh;
        width: auto;
    }

    .landscape-image{
        height: 40vh;
        width: auto;
    }

    .order-two{
        order: 2 ;
    }

    .section-container{
        flex-wrap: nowrap;
        align-items: center;
        height: calc(100vh - 50px);
    }

    .subsection-container{
        margin: 0 4%;
    }

    .modal{
        width: 700px;
        max-height: 760px;
        padding: 25px;
    }

    .modal-title{
        margin: 0 0 25px 0;
        text-align: center;
    }

     /********************/
    /*Exercise section*/
    /******************/

    .exercise-editor{
        width: 48%;
    }

    .exercise-editor{
        width: 940px;
    }

    .exercise-container{
        min-width: fit-content;
        max-width: 960px;
        aspect-ratio: 8/10;
    }

    .exercise-body{
        height: 1120px;
    }

    .quiz-container{
        width: 50%;
    }

    /*******************/
    /*Tutorial section*/
    /*****************/

    .rule-division{
        opacity: 0;
    }

    .tutorial-navbar{
        width: 50%;
        font-size: 20px;
    }

    .tutorial-header{
        width: 100%;
        margin: auto;
    }
    
    .pdf-container{
        flex-direction: column;
        order: 2;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .pdf-icon{
        padding: 0 0 10px 0;
    }

    .tutorial-banner-text{
        order: 3;
    }

    .video-list-container{
        position: static;
        width: 45%;
        height: 600px;
        padding: 2.5%;
        overflow: auto;
        transform: none;
    }

    .video-list-title, .video-list a {
        text-align: left;
    }

    .tutorial-container article {
        flex-flow: row;
    }

    .tutorial-container{
        height: 600px;
        overflow: auto;
        margin-left: 25px;
    }

    .tutorial-container p {
        margin: 10px;
    }

    .video-tutorial-container{
        width: 95%;
        margin: auto;
    }
    
    .video-tutorial-container p{
        width: 100%;
    }

    .video-list-fixed-button{
        display: none;
    }
    
    /************************/
    /* Holopyramid content */
    /**********************/

    .holopyramid-container{
        padding: 10px 2.5%;
    }

    .holopyramid-video-container{
        width: 50%;
    }

    .video-banner-container{
        margin-top: 50px;
        height: calc(100vh - 50px);
    }

    /**********************/
    /* Conversor content */
    /********************/

    .main-container-conversor h1{
        text-align: left;
    }
    
    .main-container-conversor{
        padding: 10px 2.5%;
    }

    /******************/
    /* Login content */
    /****************/

    .login-container{
        padding: 0;
        height: calc(100vh - 50px - 200px);
    }

    .login-header{
        flex-direction: row;
    }
    
    .login-label{
        margin: 10px 0 0 0;
    }

    /********************/
    /* My class content */
    /******************/

    .myClass-container{
        padding: 50px 2.5%;
    }

    .graph-container{
        padding: 10px;
        width: 33%;
        height: 100%;
        box-sizing: border-box;
    }

    
    /********************/
    /* Contact content */
    /******************/

    .contact-header{
        text-align: left;
    }

    .contact-container main{
        width: 60%;
        margin:auto;
    }

    /*********************/
    /* About us content */
    /*******************/

    .about-us-container{
        padding: 5px 25px 25px 25px;
    }

    .about-us-container section{
        flex-direction: row;
    }

    /*********************/
    /* Join us content */
    /*******************/

    .vacant-container{
        width: 33%;
    }

    .vacant-image{
        width: 80%;
        height: auto;
        margin: 25px;
    }

    .flex-wrap{
        flex-wrap: nowrap;
    }


}

