/*colors*/

:root{
    --black-russian: #001533;
    --portage: #959CE8;
}

/**********/
/*General*/
/********/

html {
    color: white;
}

body{
    margin: 0;
    color: white;  
    font-family: 'Tajawal', sans-serif;  
    text-align: center;
}

h1,h2,h3 {
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

p{
    text-align: justify;
    font-size: 20px;
}

.overflow{
    overflow-x: auto;
}

section.overflow{
    justify-content: space-between;
}

.flex-container{
    display: flex;
    align-items: center;
}

.display-in-mobile{
    display: none;
}

.display-in-desktop{
    display: block;
}

/*********/
/*Navbar*/
/*******/

.logo-container{
    padding: 10px;
    transition-duration: 0.5s;
}

.logo{
    height: 35px;
}

.logo-container:hover{
    filter: drop-shadow(0px 0px 1px white);
}

.navbar-container{
    background: var(--black-russian);
    justify-content: space-between;
    height: 43px;
    position:sticky;
    top: 0;
    border-bottom: 2px solid var(--portage);
    padding-top: 5px;
    box-shadow: 1px 1px 15px #00000050;
}

nav ul{
    list-style: none;
    margin: 0;
}

.current-section{
    text-decoration: underline;
    text-decoration-color: var(--portage);
    text-decoration-thickness: 2.5px;
}

.link{
    padding: 10px;
    white-space: nowrap;
    font-weight: 700;
    display: block;
}

.link:hover{
    transition: 0.25s;
    transform: translateY(-5px);
    text-shadow: 1px 1px 3px #959CE8;
}


/***************/
/*Main content*/
/*************/

.main-container{
    padding: 20px;
    background-image: url(./media/fondoCSSlow.png);
    background-size: 150%;
    background-position: 0;
    animation-name: background-animation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: calc(100vh - 90px);
    overflow: hidden auto;
    background-size: 150%;
}

.flex-column{
    flex-direction: column;
    justify-content: space-evenly;
}


@keyframes background-animation{
    0%{
        background-position: 0;
    }
    50%{
        background-position: 50%;
    }
    0%{
        background-position: 0;
    }

}

.title-css{
    font-size: 90px;
    font-weight: 500;
}

.title-eslogan{
    font-size: 50px;
    font-weight: 400;
}

.title-products{
    color: var(--portage);
    font-weight: 700;
    font-size: 25px;
}

figure:hover > img{
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
    transform: scale(1.1);
    box-shadow: 0 0 5px white;
}

.img-product{
    height: 100px;
    width: 100px;
    border-radius: 35px;
    border:2px solid white;
}

.img-capture{
    padding: 5px 0;
    font-size: 20px;
    font-weight: 300;
    white-space: nowrap;
}


::-webkit-scrollbar{
    height: 3px;
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black-russian); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--portage); 
  border-radius: 10px;
}



/*Mobile media queries*/


@media (max-width: 414px) and (max-height: 916px) {

    .display-in-mobile{
        display: block;
    }
    
    .display-in-desktop{
        display: none;
    }

    .main-container{
        background-size: auto 100vh;
    }

}

@media (max-width: 916px) and (max-height: 414px) and (orientation:landscape) {

    .flex-column{
        justify-content:flex-start;
    }
   

}

label{
    font-size: 20px;
}

input{
    border: 3px solid transparent;
    border-radius: 15px;
    margin: 5px;
    outline: none;
    padding: 8px 5px 5px 5px;
    text-align: center;
    transition-duration: .35s;
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
    width: 50vw;
}

textarea{
    font-size: 20px;
    outline: none;
    resize: none;
    overflow-y: auto;
    height: 150px;
    border-radius: 10px;
    padding: 10px 5px;
    border: 3px solid transparent;
    box-sizing: border-box;
    width: 60vw;
    font-family: 'Tajawal', sans-serif; 
}

button {
    background-color: var(--black-russian);
    border-radius: 25px;
    border: 2px solid var(--portage);
    color: var(--midnight-blue);
    margin: auto;
    padding: 15px 25px;
    cursor: pointer;
    display: block;
    outline: none;
    transition-duration: 0.35s;
}

button:hover{
    transition-timing-function: ease-in-out;
    box-shadow:1px 1px 10px 1px gray;
}