<!DOCTYPE html>
    <head>
    <!-- Meta information -->
    <title>D3 test 2.0</title>
    <meta charset="UTF-8">
    <meta name="author" content="cssTeam">
    <meta name="description" content="This is the products for Chemical Science for Students">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0a1727"/>
    <link rel="icon" href="./media/icon.png" >
    <!-- load styles and inmediate resources -->
    <link type="text/css" rel="stylesheet" href="./style.css">   
    <!-- Preconnet files -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>

    <body id="body">
        <main id="app" >
            <svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
                <linearGradient id="my-cool-gradient" x2="1" y2="1">
                  <stop offset="0%" stop-color="#447799" />
                  <stop offset="50%" stop-color="#224488" />
                  <stop offset="100%" stop-color="#0a1727" />
                </linearGradient>
            </svg>
            <header class="header-container flex-container">
                <img class="logo-img" src="./media/fennexLogo.svg">
                <nav id="navigationMenu" class="menu-container">
                    <a class="menu-link">INICIO</a>
                    <a class="menu-link menu-selection">DEMO</a>
                    <a class="menu-link">CSS</a>
                </nav>
                <button class="menu-burger-button" @click="showMenu('burger')">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </header>
            <main class="main-container">
                <!-- Setting Bar START-->


                <aside id="settingsMenu" class="settings-container">
                    <h2 class="settings-title"><i class="fa-solid fa-flask"></i> AJUSTES</h2>
                    
                    <section class="settings-sub-container">
                        <h3 class="settings-subtitle">Titulante</h3>
                        <section class="settings-sub-sub-container">
                            <article>
                                <label class="settings-label">Concentración</label>
                                <input class="settings-input" type="number" step="0.0005" min="0.0005" max="2" v-model="titulationVariables.titrantConc" placeholder="Conc." @change="changeInputValue(0)">
                                <span class="settings-label-unit">M</span>
                            </article>
                            <article>
                                <label class="settings-label">Especie</label>
                                <select class="settings-input settings-select-input" name="titulantes" id="titulantes" placeholder="titulantes" v-model="titulationVariables.titrantName" @change="changeInputValue(1)">
                                    <option v-for="titrantName in titrantNames" :value="titrantName.value">
                                      {{ titrantName.text }}
                                    </option>
                                </select>
                            </article>

                            <article>
                                <label class="settings-label">Volumen añadido</label>
                                <input class="settings-input" type="number" step="0.05" min="0.05" max="5" v-model="titulationVariables.addedVol" placeholder="Vol. añadido" @change="changeInputValue(0)"><span class="settings-label-unit">mL</span>
                            </article>
<!-- 
                            <article>
                                <label class="settings-label">Volumen total</label>
                                <input class="settings-input settings-input-2" type="number" step="1" min="1" max="1000" v-model="titulationVariables.totalVolAdded" placeholder="Vol.total" @change="changeInputValue(0)"><span class="settings-label-unit">mL</span>
                            </article> -->

                        </section>


                    </section>
                    <br>
                    <section class="settings-sub-container">
                        <h3 class="settings-subtitle">Analito</h3>
                        <section class="settings-sub-sub-container">
                            <article>
                                <label class="settings-label">Concentración</label>
                                <input class="settings-input" type="number" step="0.0005" min="0.0005" max="2" placeholder="Conc." v-model="titulationVariables.analyteConc" @change="changeInputValue(0)">
                                <span class="settings-label-unit">M</span>
                            </article>
                            <article>
                                <label class="settings-label">Especie</label>
                                <select class="settings-input settings-select-input" name="titulantes" id="analitos" placeholder="analitos" v-model="titulationVariables.analyteName" @change="changeInputValue(1)">
                                    <option v-for="analyteName in analyteNames" :value="analyteName.value">
                                      {{ analyteName.text }}
                                    </option>
                                </select>
                            </article>
                            <article>
                                <label class="settings-label">Volumen inicial</label>
                                <input class="settings-input" type="number" step="1" min="10" max="250" placeholder="Vol. inicial" v-model="titulationVariables.initialVol" @change="changeInputValue(0)">
                                <span class="settings-label-unit">mL</span>
                            </article>
                        </section>


                    </section>

                    <section class="graph-type-container">
                        <section>
                            <input type="checkbox" v-model="titulationVariables.graphType.lineGraph">
                            <label class="settings-label-graph-type">Mostrar trazo suave</label>
                        </section>
                        <section>
                            <input type="checkbox" v-model="titulationVariables.graphType.scatterPlot">
                            <label class="settings-label-graph-type">Mostrar puntos</label>
                        </section>  
                    </section>

                    <section class="flex-container">
                        <img src="./media/exampleAdd.gif" width="300" height="100">
                    </section>
                    <br>

                </aside> 
            
                <!-- Setting Bar END-->
                <section id="graph" class="graph-container">

                </section>
                <button id="settingsButton" class="menu-settings-button" @click="showMenu('settings')">
                    <i class="fa-solid fa-gear"></i>
                </button>

                <div id="tooltip" class="tooltip">
                    <span></span>
                    <br>
                    <span></span>
                </div>
            </main>
            <footer class="footer-container">
                <p>Copyright ©2023 CSS</p>
                <section class="flex-container">
                    <a class="social-media flex-container"><i class="fa-brands fa-facebook-f"></i></a>
                    <a class="social-media flex-container"><i class="fa-brands fa-instagram"></i></a>
                    <a class="social-media flex-container"><i class="fa-brands fa-youtube"></i></a>
                    <a class="social-media flex-container"><i class="fa-brands fa-tiktok"></i></a>
                </section>
            </footer>

        </main>

    </body>


    <script src="d3.js" type="text/javascript" defer></script>
    <script type="text/javascript" src="./app.js" defer></script>
    <script src="./fontAsome.min.js" type="text/javascript" defer></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>



</html>
