/******************/
/* CSS variables */
/****************/

:root{

    /***************/
    /*** Colors ***/
    /*************/

    --dark-blue:#0a1727;
    --dark-cream:#e2cd66;
    --light-cream:#edd9b7;

}


body{
    margin: 0;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}

.main-container{
    height: calc(100vh - 170px);
    justify-content: space-between;
}

.div-container{
    height: calc(100vh - 170px);
    width: 75%;
}

/**************/
/***GENERAL***/
/************/

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*************/
/***NAVBAR***/
/***********/

.navbar{
    justify-content: space-between;
    height: 70px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--dark-blue);
}

.logo-img{
    width: auto;
    height: 30px;
    padding: 20px;
}

.navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    height: auto;
    padding: 0;
}


.link{
    display: block;
    cursor: pointer;
    padding: 15px 20px;
    font-size: 30px;
    font-weight: 300;
    color: white;
}



/**************/
/***SIDEBAR***/
/************/


aside{
    width: 25%;
    background: var(--light-cream);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.subtitle{
    background-color: var(--dark-cream);
    font-size: 35px;
    padding: 5px;
    color: white;
    font-weight: 800;
    margin: 20px 0 0 0;
}

h4{
    font-size: 22.5px;
    font-weight: 500;
    margin: 5px;
}

input{
    padding: 5px;
    border: 2px solid gray;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    border-radius: 13px;
    font-size: 18px;
    font-weight: 300;
    outline: none;
    margin: 5px;
    width: 75%;
}

button{
    padding: 10px 15px;
    border-radius: 25px;
    background: var(--dark-blue);
    color: white;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin: 10px;
}














/*************/
/***FOOTER***/
/***********/




footer{
    flex-direction: column;
    height: 100px;
    box-sizing: border-box;
    background-color: var(--dark-blue);
}

footer p {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    color: white;
}

.social-media{
    cursor: pointer;
    background-color: var(--light-cream);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 5px;
}

.equivalencePoint{
    fill:var(--dark-blue);
    transition-duration: 0.35s;
    stroke: var(--dark-blue);
    stroke-width: 1px;
    stroke-opacity: 0.5;
}

.point{
    fill: #448e6c;
    transition-duration: 0.35s;
    stroke: var(--dark-blue);
    stroke-width: 1px;
    stroke-opacity: 0.5;
}

.point:hover,.equivalencePoint:hover{
    r:7.5px;
    cursor:pointer;
    stroke: var(--dark-blue);
    stroke-width: 2px;
    stroke-opacity: 1;
}



.graphTitle{
    font-family: 'Manrope', sans-serif;
    font-size: x-large;
    font-weight: 600;
}

.axisLabel{
    font-family: 'Manrope', sans-serif;
    font-size: large;
}

.xAxeGrid{
    color:rgba(128, 128, 128, 0.5)
}

.yAxeGrid{
    color:rgba(128, 128, 128, 0.5)
}